html *
{
    color: #65718a;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: #f8f8f8;
}

.header
{
    padding-bottom:.2cm;
    padding-top:.4cm;
    border-style: none none dotted none;
    border-color: slategrey;
    border-width: 2px;
}

.footer
{
    padding-bottom:.2cm;
    padding-top:.4cm;
    border-style: dotted none none none;
    border-color: slategrey;
    border-width: 2px;
}

.titleText
{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.headerItem
{
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.h1
{
    font-size: 20px;
    font-weight: bold;
}

.h2
{
    font-weight: bold;
    color: #5c88c2;
}

.h3
{
    font-weight: bold;
}

.h1Link
{
    font-size: 20px;
    text-decoration: none;
    color: #1974eb;
}

.main
{
    padding-top: 1.2em;
    text-align: left;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3em;
}

.bodyLink
{
    text-decoration: none;
    color: #1974eb
}

.sideSection
{
    padding-top: 1.2 em;
    width: 250px;
    height: 220px;
    float: left;
}

.indent
{
    display:inline-block;
    margin-left:1.5em;
}

.spacer
{
    display:inline-block;
    max-width:120px;
}