html *
{
    color: #65718a;
    font-family: 'Ubunto Mono', monospace;
}

body
{
    background-color: #f8f8f8;
}

.header
{
    padding-bottom:.2cm;
    padding-top:.4cm;
    border-style: none none dotted none;
    border-color: slategrey;
    border-width: 2px;
}

.footer
{
    padding-bottom:.2cm;
    padding-top:.4cm;
    border-style: dotted none none none;
    border-color: slategrey;
    border-width: 2px;
}

.titleText
{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
}

.headerItem
{
    font-size: 18px;
    text-align:center;
    text-decoration:none;
}

.main
{
    padding-top: 1.2em;
    text-align: left;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3em;
}

.sideSection
{
    padding-top: 1.2 em;
    width: 250px;
    height: 200px;
    float: left;
}

.spacer
{
    display:inline-block;
    width:120px;
}